@model allinfo.Models.Prospect
@using allinfo.Models

@{
    ViewData["Title"] = "Create";
}

<div style="padding: 0 15px 0 15px;">
    <h1>Create a prospect</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="college" class="control-label"></label>
                    <input asp-for="college" class="form-control" />
                    <span asp-validation-for="college" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="aviUrl" class="control-label">Select image:</label>
                    <input type="file" name="file" aria-label="Select image:" accept="image/*" />
                    <span asp-validation-for="aviUrl" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="age" class="control-label"></label>
                    <input asp-for="age" class="form-control" />
                    <span asp-validation-for="age" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="shirtNumber" class="control-label"></label>
                    <input asp-for="shirtNumber" class="form-control" maxlength="2" minlength="1" data-val="true" data-val-required="Required field." />
                    <span asp-validation-for="shirtNumber" data-valmsg-for="shirtNumber" class="text-danger field-validation-valid"></span>
                </div>
                <div class="form-group">
                    <label asp-for="height"></label>
                    <input asp-for="height" name="height" class="form-control" maxlength="3" minlength="3" data-val="true" data-val-required="Height is required." /> 
                    <span asp-validation-for="height" data-valmsg-for="height" data-valmsg-replace="true" class="text-danger field-validation-valid"></span>
                </div>
                <div class="form-group">
                    <label asp-for="playingPosition"></label>
                    @{var selist = new SelectList(System.Enum.GetValues(typeof(Position)));}
                    <select asp-for="playingPosition" class="form-control" asp-items="@selist">
                        <option value="">--Select position--</option>
                    </select>
                    <span asp-validation-for="playingPosition" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Team"></label>
                    <select asp-for="TeamId" aria-label="Team" class="form-control" asp-items="@ViewBag.teams">
                        <option value="">--Select team--</option>
                    </select>
                    <span asp-validation-for="TeamId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="group"></label>
                    @{var sellist = new SelectList(System.Enum.GetValues(typeof(agegroup)));}
                    <select asp-for="group" class="form-control" asp-items="@sellist">
                        <option value="">--Select class--</option>
                    </select>
                    <span asp-validation-for="group" class="text-danger"></span>
                </div>

                <div class="form-group col-md-12" style="z-index: 0;">
                    <b><label asp-for="report" class="control-label"></label></b>
                    <textarea asp-for="report" id="mytextarea2" class="mceEditor" style="width: 100%;" rows="20"></textarea> 
                    <span asp-validation-for="report" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="stat1"></label>
                    <input asp-for="stat1" class="form-control" maxlength="8" value="0">
                    <span asp-validation-for="stat1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="stat2"></label>
                    <input asp-for="stat2" class="form-control" maxlength="28" value="0">
                    <span asp-validation-for="stat2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="stat3"></label>
                    <input asp-for="stat3" class="form-control" maxlength="8" value="0">
                    <span asp-validation-for="stat3" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="stat4"></label>
                    <input asp-for="stat4" class="form-control" maxlength="28" value="0">
                    <span asp-validation-for="stat4" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="stat5"></label>
                    <input asp-for="stat5" class="form-control" maxlength="8" value="0">
                    <span asp-validation-for="stat5" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="stat6"></label>
                    <input asp-for="stat6" class="form-control" maxlength="28" value="0">
                    <span asp-validation-for="stat6" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="stat7"></label>
                    <input asp-for="stat7" class="form-control" maxlength="8" value="0">
                    <span asp-validation-for="stat7" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="stat8"></label>
                    <input asp-for="stat8" class="form-control" maxlength="28" value="0">
                    <span asp-validation-for="stat8" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="rank"></label>
                    <input asp-for="rank" class="form-control" maxlength="2" value="0">
                    <span asp-validation-for="rank" class="text-danger"></span>
                </div>
               
                
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div style="padding-bottom: 20px;">
        <a asp-action="MockDraft">Back to List</a>
    </div>
</div>
<script src="https://cdn.tiny.cloud/1/kbo8kk4a7jml4jgkcyyjv8yjb41yhjjuumhv5rsjtw4c48vu/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({
        selector:'#mytextarea2',
        plugins: 'autolink lists media image importcss table preview charmap code twitter_url',
        toolbar: 'a11ycheck addcomment showcomments casechange charmap checklist code formatpainter image imagetools media pageembed permanentpen table preview twitter_url',
        toolbar_mode: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        editor_selector: "mceEditor",
        content_style: "p { margin: 6px; }",
        media_live_embeds: true
	 });
     function getme()
     {
        var content = tinymce.get('mytextarea2').getContent();
        if(content == '')
        {
            alert('Text field is empty.');
        }
        else
        {
            $("#frm").submit();
        }
     }
</script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
