@using Microsoft.AspNetCore.Identity
@using allinfo.Models

@inject SignInManager<Writer> SignInManager
@inject UserManager<Writer> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var currentUser = await UserManager.GetUserAsync(User);
        var firstname = currentUser.FirstName;
        <li class="nav-item">
            <a id="manage" class="nav-link" style="color: #ffffff; padding-left: 12px; padding-right: 15px; vertical-align: middle;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@firstname</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" style="height: 100%;" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link" style="color: #ffffff; padding-top: 10px;">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" style="color: #ffffff;" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: #ffffff;" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
