@model allinfo.Models.Writer

@{
    ViewData["Title"] = "Create";
}

<div style="padding: 0 15px 0 15px;">
    <h1>Create a writer</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DOB" class="control-label"></label>
                    <input asp-for="DOB" class="form-control" />
                    <span asp-validation-for="DOB" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TwitterHandle" class="control-label"></label>
                    <input asp-for="TwitterHandle" class="form-control" />
                    <span asp-validation-for="TwitterHandle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="isImportant"> Is moderator?</label>
                    <input type="checkbox" asp-for="isModerator" id="isModerator" name="isModerator" value="true">
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" name="email" class="form-control" maxlength="50" minlength="6" data-val="true" data-val-required="Email is required." /> 
                    <span asp-validation-for="Email" data-valmsg-for="email" data-valmsg-replace="true" class="text-danger field-validation-valid"></span>
                </div>
                <div class="form-group">
                    <label>Password</label>                
                    <input type="password" asp-route-id="pw" name="pw" maxlength="50" minlength="6" class="form-control" data-val="true" data-val-required="The password is required." /> 
                    <span class="text-danger field-validation-valid" data-valmsg-for="pw" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
